@model myWebApp.Models.MaintainRecordViewModel


<div style="margin-bottom:20px;">
    <button type="button" class="btn btn-secondary" onclick="window.history.back();" style="float:left;">回清單頁</button>
</div>

<form method="post">
    <table class="table table-bordered w-auto">
        <tbody>
            <tr>
                <th>序號</th>
                <td>@Model.record_id</td>
                <th>申報日期</th>
                <td>
                    <input type="text" class="form-control" id="apply_date" name="apply_date" value="@Model.apply_date">
                </td>
            </tr>
            <tr>
                <th>使用單位</th>
                <td>
                    <select class="form-control" id="departCode" name="departCode">
                        @foreach (var item in ViewBag.Departments as List<SelectListItem>)
                        {
                            if (item.Value == Model.depart_code)
                            {
                                <option value="@item.Value" selected>@item.Text</option>
                            }
                            else
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        }
                        
                    </select>
                </td>
                <th>使用者</th>
                <td>
                    <input type="text" class="form-control" id="staff_id" name="staff_id" value="@Model.staff_id">
                </td>
            </tr>
            <tr>
                <th>問題類別</th>
                <td>
                    <select class="form-control" id="problemType" name="problemType">
                        @foreach (var item in ViewBag.problemTypes as List<SelectListItem>)
                        {
                            if (item.Value == Model.problem_type)
                            {
                                <option value="@item.Value" selected>@item.Text</option>
                            }
                            else
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        }
                    </select>
                </td>
                <th>電話</th>
                <td>
                    <input type="text" class="form-control" id="tel" name="tel" value="@Model.tel">
                </td>
            </tr>
            <tr>
                <th>記錄人員</th>
                <td colspan="3">
                    <input type="text" class="form-control" id="record_staff_id" name="record_staff_id" value="@Model.record_staff_id">
                </td>
            </tr>
            <tr>
                <th>問題描述</th>
                <td colspan="3">
                    <input type="text" class="form-control" id="description" name="description" value="@Model.description">
                </td>
            </tr>
            <tr>
                <th>處理人員</th>
                <td colspan="3">
                    <select class="form-control" id="processingStaffId" name="processingStaffId">
                        @foreach (var item in ViewBag.processingStaffIds as List<SelectListItem>)
                        {
                            if (item.Value == (Model.processing_staff_id?.ToString() ?? ""))
                            {
                                <option value="@item.Value" selected>@item.Text</option>
                            }
                            else
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <th>處理類別</th>
                <td colspan="3">
                    <select class="form-control" id="processingType" name="processingType">
                        @foreach (var item in ViewBag.processingTypes as List<SelectListItem>)
                        {
                            if (item.Value == Model.processing_type)
                            {
                                <option value="@item.Value" selected>@item.Text</option>
                            }
                            else
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <th>解決方式</th>
                <td colspan="3">
                    <input type="text" class="form-control" id="solution" name="solution" value="@Model.solution">
                </td>
            </tr>
            <tr>
                <th>完成日期</th>
                <td>
                    <input type="text" class="form-control" id="completion_date" name="completion_date" value="@Model.completion_date">
                </td>
                <th>處理時間</th>
                <td>
                    <input type="text" class="form-control" id="processing_minutes" name="processing_minutes" value="@Model.processing_minutes">
                </td>
            </tr>
            <tr>
                <th>更新人員</th>
                <td>
                    <input type="text" class="form-control" id="update_user_id" name="update_user_id" value="@Model.update_user_id">
                </td>
                <th>更新日期</th>
                <td>
                    <input type="text" class="form-control" id="update_date" name="update_date" value="@Model.update_date">
                </td>
            </tr>
        </tbody>
    </table>
    <div class="text-end">
        <button type="submit" class="btn btn-primary">儲存</button>
    </div>
</form>
    

<script src="~/js/common.js"></script>
<script src="~/js/edit.js"></script>