@{
    ViewData["Title"] = "首頁";
}

<div class="search-container">
    <!-- 上方搜尋條件區塊 -->
    <div class="search-top">
        <form id="searchForm" class="form-inline row g-3">
            <div class="form-group col-md-6">
                <div class="row">
                    <label for="reportDate" class="form-label">申報日期</label>
                    <div class="col-md-5">
                        <input type="text" class="form-control" id="applyStartDate" name="applyStartDate" placeholder="民國年月日 例：1130701">
                    </div>
                    <div class="col-md-1 d-flex align-items-center justify-content-center">
                        <span class="date-range-sep">~</span>
                    </div>
                    <div class="col-md-5">
                        <input type="text" class="form-control" id="applyEndDate" name="applyEndDate" placeholder="民國年月日 例：1130701">
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="row">
                    <label for="finishDate" class="form-label">完成日期</label>
                    <div class="col-md-5">
                        <input type="text" class="form-control" id="completionStartDate" name="completionStartDate" placeholder="民國年月日 例：1130701">
                    </div>
                    <div class="col-md-1 d-flex align-items-center justify-content-center">
                        <span class="date-range-sep">~</span>
                    </div>
                    <div class="col-md-5">
                        <input type="text" class="form-control" id="completionEndDate" name="completionEndDate" placeholder="民國年月日 例：1130701">
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="departCode" class="form-label">使用單位</label>
                <select class="form-control" id="departCode" name="departCode">
                    <option value="">請選擇</option>
                    @foreach (var item in ViewBag.Departments as List<SelectListItem>)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="problemType" class="form-label">問題類別</label>
                <select class="form-control" id="problemType" name="problemType">
                    <option value="">請選擇</option>
                    @foreach (var item in ViewBag.problemTypes as List<SelectListItem>)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="processingStaffId" class="form-label">處理人員</label>
                <select class="form-control" id="processingStaffId" name="processingStaffId">
                    <option value="">請選擇</option>
                    @foreach (var item in ViewBag.processingStaffIds as List<SelectListItem>)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="processingType" class="form-label">處理類別</label>
                <select class="form-control" id="processingType" name="processingType">
                    <option value="">請選擇</option>
                    @foreach (var item in ViewBag.processingTypes as List<SelectListItem>)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
            </div>
            <div class="form-group col-md-12 mt-2">
                <button type="submit" class="btn btn-primary">搜尋</button>
            </div>
        </form>
    </div>

    <!-- 下方搜尋結果區塊 -->
    <div class="search-bottom">
        <div id="searchResults">
            <!-- 這裡會顯示搜尋結果 -->
        </div>
    </div>
</div>

<script src="~/js/common.js"></script>
<script src="~/js/index.js"></script>